#featured.col-full

  #loopedSlider

    .container{:style => "height: 470px; display: block;"}

      #map.map{:style => "height:450px;"}

    .slider-nav.col-full

      %ul.pagination
        %li
          = link_to "Бишкек", "javascript:void(0);", :onclick => "goto_state('bi');", :rel => "1"
        %li
          = link_to "Чуй", "javascript:void(0);", :onclick => "goto_state('co');", :rel => "2"
        %li
          = link_to "Ош", "javascript:void(0);", :onclick => "goto_state('oo');", :rel => "3"
        %li
          = link_to "Баткен", "javascript:void(0);", :onclick => "goto_state('bo');", :rel => "4"
        %li
          = link_to "Джалал-Абад", "javascript:void(0);", :onclick => "goto_state('jo');", :rel => "5"
        %li
          = link_to "Талас", "javascript:void(0);", :onclick => "goto_state('to');", :rel => "6"
        %li
          = link_to "Нарын", "javascript:void(0);", :onclick => "goto_state('no');", :rel => "7"
        %li
          = link_to "Иссык-Куль", "javascript:void(0);", :onclick => "goto_state('io');", :rel => "8"