= title "Home"

#main.col-left
  .post.home
    .entry
      %div
        %h2= "Eam eu dico ferri"
        %p
          %img.alignleft.size-medium.wp-image-107{:alt => "", :height => "114", :src => "http://demo.woothemes.com/uploads/2010/01/delegate-2-300x300.png", :width => "114"}/
          = "Aeque errem pertinacia nam at. Illud option invidunt no per, euismod assentior eu eam. Eu nec ornatus laoreet fuisset, dissentias dissentiunt ei nam, mediocrem scribentur repudiandae sea no."
        %p= "Mea movet euripidis urbanitas eu, diceret gloriatur has no, sed te delenit salutandi ocurreret. No eum menandri consequuntur, nam elaboraret neglegentur no."
        .hr
          %hr
        %h2= "Ius ea minim legere audire"
        %p
          %a{:href => "http://demo.woothemes.com/delegate/files/2010/01/delegate-3-e1263919734161.png"}
            %img.alignright.size-thumbnail.wp-image-110{:alt => "", :height => "122", :src => "http://demo.woothemes.com/uploads/2010/01/delegate-3-150x150.png", :width => "122"}/
          = "Ius quodsi volutpat ex. Ei meis adhuc tation per, commune gubergren scribentur eu per. Eum no novum perpetua imperdiet, id augue facilisis iracundia qui. Sit ad diam esse principes. His rebum feugiat aliquyam id, errem integre scaevola no vis, duo eu putant voluptua percipitur."
        %p= "Ad mei ubique mollis patrioque, velit vocent voluptua mea ea, ei dicam copiosae scripserit duo."

#sidebar.col-right
  #tabs
    %ul.wooTabs
      %li.popular
        %a{:href => "#tab-pop"} Popular
      %li.latest
        %a{:href => "#tab-latest"} Latest news
      %li.comments
        %a{:href => "#tab-comm"} Comments
      %li.tags
        %a{:href => "#tab-tags"} Tags

    .boxes.box.inside
      %ul#tab-pop.list
        %li
          %p= "Ad mei ubique mollis patrioque, velit vocent voluptua mea ea, ei dicam copiosae scripserit duo."
        %li
          %p= "Ad mei ubique mollis patrioque, velit vocent voluptua mea ea, ei dicam copiosae scripserit duo."
        %li
          %p= "Ad mei ubique mollis patrioque, velit vocent voluptua mea ea, ei dicam copiosae scripserit duo."

      %ul#tab-latest.list
        %li
          %p= "Ius quodsi volutpat ex. Ei meis adhuc tation per, commune gubergren scribentur eu per. Eum no novum perpetua imperdiet, id augue facilisis iracundia qui. Sit ad diam esse principes. His rebum feugiat aliquyam id, errem integre scaevola no vis, duo eu putant voluptua percipitur."
        %li
          %p= "Ius quodsi volutpat ex. Ei meis adhuc tation per, commune gubergren scribentur eu per. Eum no novum perpetua imperdiet, id augue facilisis iracundia qui. Sit ad diam esse principes. His rebum feugiat aliquyam id, errem integre scaevola no vis, duo eu putant voluptua percipitur."

      %ul#tab-comm.list
        %li
          %p= "Mea movet euripidis urbanitas eu, diceret gloriatur has no, sed te delenit salutandi ocurreret. No eum menandri consequuntur, nam elaboraret neglegentur no."
        %li
          %p= "Mea movet euripidis urbanitas eu, diceret gloriatur has no, sed te delenit salutandi ocurreret. No eum menandri consequuntur, nam elaboraret neglegentur no."

      %ul#tab-tags.list
        %li
          %p= "Aeque errem pertinacia nam at. Illud option invidunt no per, euismod assentior eu eam. Eu nec ornatus laoreet fuisset, dissentias dissentiunt ei nam, mediocrem scribentur repudiandae sea no."
        %li
          %p= "Aeque errem pertinacia nam at. Illud option invidunt no per, euismod assentior eu eam. Eu nec ornatus laoreet fuisset, dissentias dissentiunt ei nam, mediocrem scribentur repudiandae sea no."
