= simple_form_for(@report, :validate => true, :html => {:id => "commentform"}) do |f|

  .inputs
    = load_inputs(f)

    = f.input :address
    = f.association :category
    = f.input :subject
    = f.text_area :description
    = f.input :longtitude, :as => :hidden
    = f.input :latitude, :as => :hidden
    = f.input :state_id, :as => :hidden

  .actions
    = f.button :submit
