= simple_form_for(@report, :validate => true, :html => {:id => "commentform", :class => "attachable_form", :multipart => true}) do |f|

  .inputs
    - unless user_signed_in?
      = f.fields_for :anonym_user do |u|
        = u.input :name
        = u.input :last_name
        = u.input :email
        = u.input :phone

    = f.input :address
    = f.association :category
    = f.input :subject
    = f.text_area :description
    = f.input :longtitude, :as => :hidden
    = f.input :latitude, :as => :hidden
    = f.input :state_id, :as => :hidden
    = render "attachment_field", :f => f

  .actions
    = f.button :submit

= javascript_include_tag "attachment"

