.post
  = link_to_image(reports)

  %h2.title= link_to reports.subject, reports

  %p.post-meta

    %span.date
      = reports.created_at
    %span
      Category:
      = reports.category.name
    %span
      Address:
      = reports.address
  .entry
    %p= truncate(reports.description, :length => 200, :omission => "...").html_safe

  %p.post-meta
    %span
      = link_to "#{reports.comments.count} comments", reports