- @page_title = 'Reports list'

#main.col-left.box
  %h3 Recent reports
  %br/
  - @reports.each do |report|
    .reports
      %p
        %strong= "Subject:"
        = report.subject
      %p
        %strong= "Description"
        = truncate(report.description, :length => 200, :omission => "...").html_safe
      %p
        %strong= "Category"
        = report.category.name
      %p
        %strong= "State"
        = report.address
      %p
        .admin
        = link_to "Show", report
        = render "shared/admin", :target => report

        %hr

  %br
#sidebar.col-right
  .widget
    %h3 Последние новости

  .widget
    %h3 Последние комментарии
