- @page_title = 'Reports list'

#main.col-left.box

  - @reports.each do |report|
    .post
      = link_to image_tag("view.jpg", :class => "woo-image alignleft thumbnail"), report, :title => report.subject
      %h2.title= link_to report.subject, report

      %p.post-meta

        %span.date
          = report.created_at
        %span
          Category:
          = report.category.name
        %span
          Address:
          = report.address
      .entry
        %p= truncate(report.description, :length => 200, :omission => "...").html_safe

      %p.post-meta
        %span
          = link_to "#{report.comments.count} comments", report


  %br
#sidebar.col-right
  .widget
    %h3 Последние новости

  .widget
    %h3 Последние комментарии
