= javascript_include_tag 'easySlider1.5'

- @page_title = 'Show report'

#main.col-left.box
  %h3= Report
  %br/
  %p
    %b Subject:
    = @report.subject
  %p
    %b Description:
    = @report.description.html_safe
  %p
    %b Reporter:
    = @report.user.full_name
  %p
    %b Date:
    = @report.created_at
  %p
    %b Address:
    = @report.address

  = render "shared/admin", :target => @report

#sidebar.col-right
  .widget
    .static_map.widget
  .widget
    .images_widget.widget
